*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    padding-top: 6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(90, 191, 117);
    color: rgb(240, 240, 226);
}

h1{
    font-size: 50px;
}

p{
    display: inline;
    font-size: 70px;
}

div.countdown{
    padding-top: 8rem;
}